---
layout: default
title: Create
description: "Learn how GitLab helps create, view, and manage code and project data through powerful branching tools. View more here!"
canonical_path: "/stages-devops-lifecycle/create/"
suppress_header: true
extra_css:
  - features-v2.css
  - release-posts.css
  - product.css
---

= partial "includes/stages/stage-page", locals: { solution: data.stages.stages.create, solution_name: "create" }
